{% extends 'base.html' %}

{% block content %}
<h1>Genres</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for genre in genres %}
        <tr>
            <td>{{ genre.name }}</td>
            <td>
                <a href="{% url 'genre_update' genre.pk %}">Edit</a> |
                <a href="{% url 'genre_delete' genre.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'genre_create' %}">Add New Genre</a>
{% endblock %}
